---
name: Build

on:
  push:
    branches:
      - '**'
    tags:
      - '**'
  pull_request:
    branches:
      - main
  schedule:
    # We want to run right after the `latest` image is published.
    # So, let's do it an hour right after. Look the schedule of publishing here:
    # https://github.com/alexhumphreys/idris2-dockerfile/blob/main/.github/workflows/docker-image.yml
    - cron: '0 1 * * *'

defaults:
  run:
    shell: bash

jobs:
  build:
    name: Build ${{ github.repository }} with Idris2 latest
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    container: ghcr.io/stefan-hoeck/idris2-pack:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Test pack
        run: |
          pack info
          which pack
          ls /root/.pack
          ls /root/.pack/db
          ls /root/.pack/install
          cat /root/.pack/pack.toml

          #      - name: Build lib
          #        run: pack install json
          #      - name: Build docs
          #        run: pack install json-docs
          #      - name: Run test
          #        run: pack exec json-test -n 1000
